
nav ul {
  display: flex;
  width: 400px;
  align-items: center;
  font-weight: 400;
  font-size: 1.3em;

  li {
    margin: 0 auto;

    a.active {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 500px) {
  .layout {
    height: 100vh;
    background-image: url('../images/stockKitchen.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}
