
nav ul,
.mealTitle {
  display: flex;
  width: 400px;
  font-size: 1.3em;

  @include reset-list;

  li {
    justify-content: space-between;
    margin: 0 auto;

    a {
      color: $red;
    }

    a.active {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 500px) {
  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/stockKitchen.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 a {
    color: $red;
    background-color: rgba(256, 256, 256, .7);
    padding: 5px 15px;
  }

  h2 {
    text-align: center;
  }

  .mainTitle {
    font-size: 10em;
    margin: 0 auto;
    line-height: 100%;
    color: $red;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 a {
  color: $red;
  background-color: rgba(256, 256, 256, .7);
  padding: 5px 15px;
}

h2 {
  text-align: center;
}

.mainTitle {
  font-size: 8em;
  margin: 0 auto;
  line-height: 100%;
  color: $red;
}
