.menuItems {
  margin-bottom: 100px;

  h3 {
    color: transparent;
  }

  th {
    font-size: 1.3em;
    text-align: left;
  }

  .price {
    font-size: 1.1em;
  }

  .price::before {
    content: "$";
  }
}

.mealTitle {
  a.active {
    color: white;
    background-color: $red;
    padding: 5px;
  }
}

table {
  width: 500px;
  margin-bottom: 50px;
}

.section {
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
