.menuItems {
  margin-bottom: 100px;

  h3 {
    color: transparent;
  }

  th {
    font-size: 1.3em;
    text-align: left;
  }

  .price {
    font-size: 1.1em;
  }

  .price::before {
    content: "$";
  }
}

table {
  width: 500px;
  margin-bottom: 50px;

}
