.menuItems {
  color: #fff;

  h3 {
    text-align: center;
    text-shadow: 3px 3px 3px #222;
  }
}

.mealTitle {
  a.active {
    color: white;
    background-color: $red;
  }
}

.wrapper {
  display: grid;
  min-width: 400px;
  // max-width: 500px;
  grid-gap: 20px;
  font-family: $secondary-font-family;
  justify-content: center;
}

.row {
  display: grid;
  min-width: 350px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 20px;
  background: #222;
  color: #fff;
  align-items: center;
}

h4.box {
  grid-column: 1 / 4;
  margin: 6px;
  font-size: 1.1em;
}

.desc {
  grid-row: 2;
  grid-column: 1 / 4;
  background: #fff;
  color: #222;
  margin-left: 6px;
  font-style: italic;
}

.price {
  grid-row: 2;
  grid-column: 4 / 5;
  border: 1px solid #fff;
  font-size: 0.9em;
  padding-left: 6px;
}

.price::before {
  content: "$ ";
  font-size: 0.9em;
}

section .menuItems {
  background-color: rgba(255, 0, 0, 0.8);
  padding: 0 20px 100px;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
