@import 'utility';
@import 'layout';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1;
  font-family: 'Archivo Narrow', sans-serif;
}

main {
  margin: 0 auto;
}

.Menu {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  p {
    grid-column: 1/4;
  }

  ul {
    // grid-column: 1/5;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-row: 3/4;
    width: 300px;
  }

  li {
    background-color: rgb(198,191,172);
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: 2em;
  }
}


breakfast {
  display: grid;
  grid-template-columns: 300px 50px;

  li {
    grid-column: 1/2;
  }

  span {
    grid-column: 2/3;
  }
}
