@import 'utility';
@import 'layout';
@import 'menuItems';
@import 'locations';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;

  background: url('../images/stockKitchen.jpg') no-repeat center center fixed;
  background-size: cover;
}

.bgfade {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1;
  font-family: 'Archivo Narrow', sans-serif;
}

h1 {
  color: $red;
  text-align: center;
  font-size: 6em;
  margin: 0;
}

.home {
  margin: 50px;

  p {
    font-family: $secondary-font-family;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
  }
}
