@import 'utility';
@import 'layout';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1;
  font-family: 'Archivo Narrow', sans-serif;
}

p {
  font-family: $secondary-font-family;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

ul.locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

li.box-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  max-width: 100%;
  margin: 0;
}

.mainDiv,
.inner-box {
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
}

.locationImg {
  width: 100%;
}

.inner-box {
  display: flex;
  flex-direction: column;
  // flex: 1;
  position: absolute;
  background-color: rgba(170, 0, 0, 1);
  opacity: 0;
  transition: opacity 800ms;
  z-index: 1;
}

.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: left;

  h4 {
    line-height: 0;
    // margin: 20px 0 0;
  }

  p {
    line-height: 1.1em;
    margin: 2px 0 0;
  }

  p.street {
    font-size: 1.5em;
  }

  p.city {
    font-size: 1.6em;
  }

  p.black {
    color: black;
    margin-top: 30px;
    font-weight: 100;
  }

  .phone {
    // margin: 5px 0 0;
    color: white;
    font-size: 2em;
    font-family: $secondary-font-family;
  }
}

.inner-box:hover {
  opacity: 1;
}

h3.city,
h3.shrink {
  align-self: center;
  position: absolute;
  top: 50px;
  left: 15%;
  font-size: 4em;
  line-height: 120%;
  font-weight: lighter;
  background-color: rgba(170, 0, 0, 0.6);
  padding: 0 10px;
}

h3.shrink {
  left: 5%;
  font-size: 2.5em;
  top: 70px;
  // line-height: 140%;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  li.box-wrap {
    max-width: 200px;
  }

  .mainDiv,
  .inner-box {
    width: 200px;
    height: 200px;
  }

  h3.city,
  h3.shrink {
    align-self: center;
    position: absolute;
    top: 30px;
    left: 20%;
    font-size: 2em;
    line-height: 120%;
    font-weight: lighter;
    background-color: rgba(170, 0, 0, 0.6);
    padding: 0 10px;
  }

  h3.shrink {
    left: 10%;
    font-size: 1.5em;
    top: 50px;
    // line-height: 140%;
  }
}
